@model FacturadorTaller.ViewModel.CreafacturaViewModel

@{
    /**/

    ViewBag.Title = "Crear Factura";
}

<h2>Crear Factura</h2>

@using (Html.BeginForm("CreaFactura", "Cotizacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.CotId)

    <div class="form-group">
        @Html.LabelFor(model => model.CotId)
        @Html.TextBoxFor(model => model.CotId, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CotId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaFac)
        @Html.TextBoxFor(model => model.FechaFac, new { @class = "form-control", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
        @Html.ValidationMessageFor(model => model.FechaFac, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FechaVen)
        @Html.TextBoxFor(model => model.FechaVen, new { @class = "form-control", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
        @Html.ValidationMessageFor(model => model.FechaVen, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Factura.OrdenCompraNu)
        @Html.TextBoxFor(model => model.Factura.OrdenCompraNu, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Factura.OrdenCompraNu, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NcfInd)
        @Html.RadioButtonFor(model => model.NcfInd, "N", new { @checked = true }) Si
        @Html.RadioButtonFor(model => model.NcfInd, "S") No
        @Html.ValidationMessageFor(model => model.NcfInd, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-primary btn-lg" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Volver a lista", "Index")

</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            if ($(this).valid()) {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', true);
                });
            } else {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', false);
                });
            }
        });

    </script>

}