@model FacturadorTaller.ViewModel.ReporteVentasViewModel

@{
    ViewBag.Title = "Reportes de Ventas";
}

<h2>Reportes de Caja</h2>

<table class="table">
    <tr>
        <th>
            Recibo Pago
        </th>
        <th>
            Forma Pago
        </th>
        <th>
            Monto
        </th>
        <th>
            Factura
        </th>
        <th>
            Cliente
        </th>
    </tr>

    @foreach (var item in Model.Pago)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.PagoId)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.MontoPago)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.FacturaId)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Factura.Cotizacion.Clientes.NombreCliente)
        </td>
    </tr>
    }
</table>
@{decimal efectivo = 0; }

@foreach (var i in Model.Pago.Where(p => p.Categoria.Equals("Efectivo")))
{
    efectivo += i.MontoPago;
}
<br />
@{decimal cheque = 0; }
@foreach (var i in Model.Pago.Where(p => p.Categoria.Equals("Cheque")))
{
    cheque += i.MontoPago;
}
<br />
@{decimal transferencia = 0; }
@foreach (var i in Model.Pago.Where(p => p.Categoria.Equals("Transferencia")))
{
    transferencia += i.MontoPago;
}
<H2>Total Efectivo: @string.Format("{0:N0}", @efectivo) </H2>
<H2>Total Tarjeta: @string.Format("{0:N0}", @cheque) </H2>
<H2>Total Transferencia: @string.Format("{0:N0}", @transferencia) </H2>
<br />

<div>
    @Html.ActionLink("Volver a lista", "Index")

</div>
